@font-face {
	font-family: 'Montserrat-regular';
	src: url('../fonts/Montserrat-Regular.ttf'),
	     url('../fonts/Montserrat-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat-SemiBold', sans-serif;
	src: url('../fonts/Montserrat-SemiBold.ttf'),
	     url('../fonts/Montserrat-SemiBold.woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans-regular', sans-serif;
	src: url('../fonts/OpenSans-Regular.ttf'),
	     url('../fonts/OpenSans-Regular.woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans-SemiBold', sans-serif;
	src: url('../fonts/OpenSans-SemiBold.ttf'),
	     url('../fonts/OpenSans-SemiBold.woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.ttf'),
	     url('../fonts/OpenSans-Bold.woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}