$font_os-r: 'OpenSans-regular', sans-serif;
$font_os-sb: 'OpenSans-SemiBold', sans-serif;
$font_os-b: 'OpenSans-Bold', sans-serif;
$font_mont-r: 'Montserrat-regular', sans-serif;
$font_mont-sb: 'Montserrat-SemiBold', sans-serif;

$color_gradient: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
$color_bg: #F7F9FC;
$color_secondary: #ED5267;
$color_font_main-1: #3E3F58;
$color_font_main-2: #3E4056;
$color_font_secondary: #F05D63;
